# HMS Capstone - Data Cleaning

In [2]:
from __future__ import division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

## Read in dataset from .csv

In [3]:
# read in dataset as DataFrame
HMS = pd.read_csv('2016-2017.csv')

In [4]:
# replace Excel NULL's with Python NaN's
HMS = HMS.replace(['#NULL!'], [np.NaN])

## Conduct high-level diagnostics

In [5]:
HMS.head() # all good here
HMS.tail() # identified missing values

,survey,schoolnum,nrweight,responseid,age,sex_birth,gender,gender_text,sexual,sexual_text,...,talk2pro,talk2adv,talk2ofa,talk2ta,talk2sta,talk2dea,talk2oth,talk2noo,viol_victim,ret_confid_y
53755,NaN,NaN,1.43,R_1dnNevp7EG1R8Ht,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
53756,NaN,NaN,1.13,R_30uhu9O9lvYtFG5,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
53757,NaN,NaN,1.73,R_20O11J6JJ29G3G1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
53758,NaN,NaN,0.24,R_3j0Qwrmw8gELHgm,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
53759,NaN,NaN,1.13,R_zeFliYhCqHgUBi1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN

In [6]:
HMS.survey.value_counts(dropna = False) # 1142 missing values

HMS Winter 2017         34795
HMS Fall 2016           12515
HMS Winter 2017 CCMH     5308
NaN                      1142
Name: survey, dtype: int64

In [7]:
HMS.shape # 53760 students x 1581 variables

(53760, 1581)

In [8]:
HMS.info(null_counts = True) # identified dtype issues

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53760 entries, 0 to 53759
Columns: 1581 entries, survey to ret_confid_y
dtypes: float64(7), int64(88), object(1486)
memory usage: 648.5+ MB

In [9]:
HMS.describe(include = 'all') # investigated dtype issues

,survey,schoolnum,nrweight,responseid,age,sex_birth,gender,gender_text,sexual,sexual_text,...,talk2pro,talk2adv,talk2ofa,talk2ta,talk2sta,talk2dea,talk2oth,talk2noo,viol_victim,ret_confid_y
count,52618,52618.0,53760.000000,53760,52618.0,52548,52536,314,52345,1691,...,53760.000000,53760.000000,53760.000000,53760.000000,53760.000000,53760.000000,53760.000000,53760.000000,47828,50826
unique,3,55.0,NaN,53760,85.0,6,12,208,12,438,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
top,HMS Winter 2017,49.0,NaN,R_CayJ2kVp6Mr9PBD,21.0,1,2,Agender,1,Pansexual,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
freq,34795,4705.0,NaN,1,7473.0,18123,20099,20,39932,324,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44951,42367
mean,NaN,NaN,1.028820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.302269,0.280004,0.060789,0.020182,0.117839,0.040513,0.315644,0.058557,NaN,NaN
std,NaN,NaN,0.944637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.459246,0.449005,0.238945,0.140625,0.322420,0.197162,0.464776,0.234795,NaN,NaN
min,NaN,NaN,0.080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,0.480000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,NaN,NaN,0.820000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
75%,NaN,NaN,1.270000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,NaN,NaN
max,NaN,NaN,23.350000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN

## Check for errors

### 1) duplicate rows

In [10]:
print('no duplicate rows!') if not any(HMS.duplicated()) else 'duplicates present!'

no duplicate rows!

### 2) bad data (outliers)

In [11]:
# check via simple barplot visualizations across fixed variables like school_num, survey, age, sex, etc.

## Clean data

### 1) Address missing values

In [12]:
# remove students who didn't complete survey
HMS = HMS[pd.notnull(HMS['survey'])]

### 2) Extract required columns

In [13]:
# separate out standard survey modules
HMS_ids = HMS.loc[:, 'schoolnum':'responseid']
HMS_demo = HMS.loc[:, 'age':'disab_3']
HMS_mhstatus = HMS.loc[:, 'diener1':'sleep_np2']
HMS_mhhelp = HMS.loc[:, 'dx_dep1':'pay_mh']

In [1]:
HMS_mhstatus.head()

NameError: name 'HMS_mhstatus' is not defined

### 3) Convert datatypes

#### either A) manually convert them all now, or B) wait until you really need to... B seems like the right choice

In [189]:
# attempt to convert all cols into numeric values
# FIX: must manually remove columns with text first

#for col in HMS_mhstatus.columns:
#    HMS_mhstatus[col] = pd.to_numeric(HMS_mhstatus[col])

### 4) Tidy variable groups

In [50]:
def tidyCatVarGroup(varGroup, categoryName, uniqueID, numMetrics):
    
    # 1) convert categorical variables into dummy/indicator variables
    dummies = pd.get_dummies(varGroup)
    dummies.columns = varGroup.columns
    
    # 2) add unique ID + numerical metrics
    dummies.insert(0, uniqueID.name, uniqueID)
    data = dummies.join(numMetrics.apply(pd.to_numeric))
    
    # 3) melt data from wide to tall
    melted_data = pd.melt(data, id_vars = list(numMetrics.columns.insert(0, uniqueID.name)), var_name = categoryName)
    
    # 4) Filter out all the 0 values (aka: this person doesn't identity with this race) and drop column
    tidy_data = melted_data.loc[melted_data.loc[:,'value'] == 1]
    tidy_data = tidy_data.drop('value', axis = 1)
    
    return tidy_data

In [53]:
# gather uniqueIDs and key-performance-indicators (KPIs)
HMS_IDs = HMS_ids['responseid']
HMS_KPIs = pd.concat([HMS_mhstatus['flourish'], HMS_mhstatus['deprawsc'], HMS_mhstatus['anx_score']], axis=1)

In [57]:
# gather main variable groups
HMS_race = HMS.loc[:, 'race_black':'race_other']
HMS_religion = HMS.loc[:, 'relig_aff_ag':'relig_aff_no']
HMS_degreeType = HMS.loc[:, 'degree_ass':'degree_nd']
HMS_fieldOfStudy = HMS.loc[:, 'field_hum':'field_other']
HMS_activity = HMS.loc[:, 'activ_ac':'activ_none']
HMS_disability = HMS.loc[:, 'disab_1_1':'disab_1_9']

In [58]:
# tidy variable groups
tidy_race = tidyCatVarGroup(HMS_race, 'race', HMS_IDs, HMS_KPIs)
tidy_religion = tidyCatVarGroup(HMS_religion, 'religion', HMS_IDs, HMS_KPIs)
tidy_degreeType = tidyCatVarGroup(HMS_degreeType, 'degreeType', HMS_IDs, HMS_KPIs)
tidy_fieldOfStudy = tidyCatVarGroup(HMS_fieldOfStudy, 'fieldOfStudy', HMS_IDs, HMS_KPIs)
tidy_activity = tidyCatVarGroup(HMS_activity, 'activity', HMS_IDs, HMS_KPIs)
tidy_disability = tidyCatVarGroup(HMS_disability, 'disability', HMS_IDs, HMS_KPIs)

In [60]:
tidy_activity.head()

           responseid  flourish  deprawsc  anx_score  activity
1   R_31yEX4Xz6bZzgUr      40.0       NaN        NaN  activ_ac
12  R_2tbCRbV3H8zRoy0      46.0       NaN        NaN  activ_ac
14  R_w7BW2IVlnRHXcI1      53.0       NaN        NaN  activ_ac
17  R_2CIZ2OyHCiIhFUf      48.0       NaN        NaN  activ_ac
23  R_aVPuYwPez3JrQ8V      56.0       NaN        NaN  activ_ac